body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('../images/endless-constellation.png');
}

header {
    background-image: url('../images/IMG_0389.jpeg');
    background-size: cover;
    background-position: center center;
    height: 225px;
    color: #fff;
    padding: 20px 25px;
    text-align: left;
    text-shadow: 8px 8px 8px rgb(57, 5, 5);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

main {
    padding: 0px 125px;
}

section.content {
    display: flex;
    gap: 20px;
}

.page1-layout .left-column {
    flex: 3;
}

.page1-layout .right-column {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
}

.page2-layout .left-column {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
}

.page2-layout .middle-column {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
}

.page2-layout .right-column {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
}

.page3-layout .left-column {
    flex: 1;
    padding-left: 100px;
}

.page3-layout .right-column {
    flex: 2;
    padding-left: 100px;
    border-radius: 5px;
}

footer {
    background-color: rgb(87, 9, 9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}